host <servername>
room public
name <yourname>
port 27001
channels 2
codec pcm
blocksize 64
bitdepth 16
packetsize 1450
framesize 120
quality 10
bitrate 96
signal music
usage lowdelay
ardour.enable 1
ardour.jack 1
ardour.hide 1
ardour.strips empty empty empty empty
be.type JACK
be.callback 1
be.audiobuf 5
be.input.device empty
be.input.channels 2
be.output.device empty
be.output.channels 2
layout maxrows 4
layout maxchannels 4
